* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

button {
    border: none;
    box-shadow: none;
}

button:hover{
    cursor: pointer;
}

table, th, td{
    border: 1px solid grey;
    border-spacing: 0px;   
    text-align: center;
}

table {
    width:80%;
}

th, td {
    padding: 8px 6px;
}

td {
    padding: 15px 6px;
}

.big-text img {
    float: left;
    margin-top: -15px;
}

.part {
    color: white;
}

i.fa.fa-chevron-left {
    float: right;
    transition: 0.3s;
    margin-top: 3px;
}

.right-content {
    width: 83%;
    padding: 0 50px;
}

.list li {
    list-style: none;
    background-color: #95a5a6;
    margin: 5px 0px 3px 30px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.list li:hover {
    transform: translateX(20px);
    transition: 0.3s;
}

h4.list-title {
    background-color: #5a738c;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 5px;
}

h4.list-title:hover {
    opacity: 0.8;
}

h3.part-title {
    background-color: #2c3e50;
    padding: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.left-menu {
    text-align: center;
    width: 20%;
    padding: 50px 20px 0px 20px;
    background-color: #ecf0f1;
    height: 100%;
}

html, body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

.big-text {
    text-align: center;
    padding: 20px;
    font-size: 42px;
    background-color: #2c3e50;
    color: white;
    font-weight: 700;
    width: 100%;
}

.content {
    display: flex;
    height: 100%;
    width: inherit;
}

.part-title.arrow-right {
    color: white;
}

h3.part-title:hover {
    opacity: 0.8;
}

.list-title.arrow-right {
    color: #FF9800;
}

.part-title.arrow-right i, .list-title.arrow-right i {
    transform: rotate(-90deg);
    transition: 0.3s;
}

.right-content {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
}

.active {
    color: #ec4510 !important;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7) !important;
}

#tenchinhanh {
    font-size: 2.5em;
    font-weight: bolder;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

.part h3.table-name {
    background-color: darkslategray;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

.form-group label {
    margin: 8px 0 8px 0;
    font-weight: bold;
    font-size: 1.25em;
}

.form-group input[type=text],.form-group select,.form-group textarea,.form-group input[type=password] {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.btn-them {
    background-color:#2ecc71; 
    padding:10px 20px 10px 20px; 
    border-radius:5px; 
    color: white;
}

.btn-sua {
    background-color:#2980b9; 
    padding:10px 15px 10px 15px; 
    border-radius:5px; 
    color: white; 
    margin-right:8px; 
}

.btn-xoa {
    background-color:#e74c3c; 
    padding:10px 15px 10px 15px; 
    border-radius:5px; 
    color: white; 
    margin-right:8px; 
}

.fieldset {
    padding: 0 50px 25px 25px;
    width: 45%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.fieldset legend {
    font-size: 1.25em;
    font-weight: bold;
}

.fieldset .form-group input[type=text] {
    width: 100%;
}

.backup-fieldset {
    padding-top: 32px;
}

.mg-top {
    margin-top: 18px;
}

.form-login {
    margin:auto; 
    width:35%; 
    margin-top:5%; 
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.alert-danger {
    background-color:#F2DEDE; 
    padding:20px; 
    border-radius:5px; 
    border: 1px solid #EBCCD1;
    color:#A94442;
    font-weight: bold;
    margin-bottom: 30px;
}

.alert-success {
    background-color:#DFF0E8; 
    padding:20px; 
    border-radius:5px; 
    border: 1px solid #D6E9C6;
    color:#3C763D;
    font-weight: bold;
    margin-bottom: 30px;
}